/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}


@mixin light {
	font-weight: 300;
}

@mixin regular {
	font-weight: 400;
}

@mixin bold {
	font-weight: 700;
}