/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
 */


// //
// // Redefining some Bootstrap variables
// // --------------------------------------------------



// // Typography
// // -------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;



// COLORS
$headerBgColor: #fff;
$bodyBgColor: #f0f0f0;


$redColor: #ed867b;
$blueColor: #4187df;

$mainBorderColor: #e5e5e5;


// INPUT FIELDS
$fieldBgColor: #fff;
$fieldBorderColor: #e1e1e1;
$fieldBorderActiveColor: #252525;
$fieldColor: #8f939e;
$fieldBlueActiveColor: #4b8fec;

$fieldDarkBgColor: #1a1a1a;
$fieldDarkColor: #fff;


// LINKS
$linkColor: #8f939e;
$linkHoverColor: #000;


// SPOT LIST
$spotBorderHoverColor: #ed867b;
$spotColor: #8f939e;
$spotAddressColor: #000;


// SIZES
$headerHeight: 60px;
$collectionWidth: 321px;


// BUTTON COLORS
$blueButtonBgColor: #4187df;
$blueButtonBorderColor: #2675ca;

$redButtonBgColor: #ed867b;
$redButtonBorderColor: #dc786e;

$greyButtonBgColor: #f0f0f0;
$greyButtonBorderColor: #e5e5e5;

$darkgreyButtonBgColor: #c9c9c9;

$blackButtonBgColor: #252525;

//BORDER RADIUS
$border-radius-base: 0px;
