/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
 */

@import "_variables";
@import "_helpers";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-social/bootstrap-social";
@import "angular-pickadate";

/*
|------------------------------------------------------------------------------------
| BASICS
|------------------------------------------------------------------------------------
*/


// Modify Bootstrap-UI progress bar
.progress {
  overflow: hidden;
  height: $line-height-computed/2;
  margin-bottom: $line-height-computed;
  background-color: $progress-bg;
  border-radius: $border-radius-base;
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
}

datepicker-popup-wrap{
	border: 1px solid red;
	width:200px;
}
*,
*:after,
*:before {
	@include box-sizing(border-box);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a,
a *,
button,
button * {
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

a {
	color: $linkColor;

	&:hover {
		color: $linkHoverColor;
	}
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
	width: 100%;
	min-height: 600px;
	min-width: 720px;
	position: relative;
}

body {
	background: $bodyBgColor;
	font-family: $font-family-sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


/*
|------------------------------------------------------------------------------------
| TRICKS & STUFF
|------------------------------------------------------------------------------------
*/

.spot-set{
	position: relative;
	}

.field-wrap button.address-search_btn{
	background: transparent url(../images/placemarker.png) no-repeat center center;
	margin: 2px;
	overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 30px;
	height: 35px;
}

.field-wrap button.address-search_btn:hover{
	background-image: url(images/placemarker_hover.png);
}


.bg-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.field-wrap {
	margin: 0 0 10px;
	position: relative;

	&.with-btn {
		.btn {
			width: 39px;
			border-right: none;
		}

	input {
		width: auto;
		position: absolute;
		left: 39px;
		right: 0;
		top: 0;
		}
	}

	.date_panel{
		width: 100%;
		.btn{
			width: 56px;
			margin-right: 1px;
			&:last-child {
    			margin-right: 0px;
  			}
		}
	}

	input,
	textarea {
		height: 40px;
		width: 100%;
		background: $fieldBgColor;
		border: 1px solid $fieldBorderColor;
		padding: 0 10px;
		color: $fieldColor;
		outline: none;
		@include transition(border-color .2s ease);
		@include box-shadow(none);
		-webkit-appearance: none;
		@include border-radius(0);

		&:focus {
			border-color: $fieldBorderActiveColor;
		}

		&.dark {
			background: $fieldDarkBgColor;
			border: none;
			color: $fieldDarkColor;
		}
	}

	textarea {
		height: 100px;
		resize: none;
		padding: 7px 10px;
	}
	.address{
		height: auto;
		padding-bottom: 10px;
	}
	.count {
		font-size: 12px;
		color: #a8a8a8;
		text-align: right;
		@include light;
		display: block;
		margin: 5px 0 0 5px;
		padding: 0
	}
	.custom-label {
		font-size: 12px;
		color: #a8a8a8;
		text-align: left;
		@include light;
		display: block;
		margin: 0px 0 0 5px;
		padding: 0
	}

	.ex-date-choice{
		font-size: 12px;
		color: #a8a8a8;
		text-align: left;
		@include light;
		padding: 0;


		&:hover {
			text-decoration: underline;
		}
	}

	.hint {
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		height: 18px;
		line-height: 18px;
		padding: 0 10px;
		background: $fieldBlueActiveColor;
		color: #fff;
		font-size: 10px;
		@include bold;
		text-transform: uppercase;
		opacity: 0;
		@include transition(opacity .2s ease);
	}

	&.focus {
		.hint {
			opacity: 1;
		}
	}

	.add_field{
		width: 39px;
		margin-bottom: 2px;
		height: 40px;
	}

	.link-list{
		margin-bottom: 5px;
	}

	.link-input{
		width: 197px;
	}

	.links-wrapper{
		padding: 0px;

		input{
			width: 197px;
		}
		.remove-btn{
			width: 25px;
			display: inline;
			padding-left: 13px;

			&:hover {
				cursor: pointer;
				color: #fff;
			}

			i{
				color: #ED867B;
			}
		}
	}

	.field-label{
		font-size: 12px;
		font-weight: 300;
		color: #A8A8A8;
		padding: 0px;
	}

	.active{
		font-weight: bold;
		color: black;
	}

	// i {}
}
.paginated-collections{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	padding-left: 30px;
	padding-right: 30px;
}

#app-content .btn, .collection-item-wrap .btn {
	height: 40px;
	line-height: 39px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	@include bold;
	@include border-radius(0);
	padding: 0;

	&:focus {
		outline: none;
	}

	&:hover {
		color: #fff;
	}

	&:active {
		@include box-shadow(none);
	}

	&.blue {
		background: $blueButtonBgColor;
		border-color: $blueButtonBorderColor;

		&:hover { background: lighten($blueButtonBgColor, 5%); }
		&:active { background: darken($blueButtonBgColor, 5%); }
	}

	&.red {
		background: $redButtonBgColor;
		border-color: $redButtonBorderColor;

		&:hover { background: lighten($redButtonBgColor, 5%); }
		&:active { background: darken($redButtonBgColor, 5%); }
	}

	&.grey {
		background: $greyButtonBgColor;
		border-color: $greyButtonBorderColor;
		color: #8e8e8e;
		@include light;

		&:hover { background: lighten($greyButtonBgColor, 5%); }
		&:active { background: darken($greyButtonBgColor, 5%); }
	}

	&.darkgrey {
		background: $darkgreyButtonBgColor;
		border: none;
		color: #fff;

		&:hover { background: lighten($darkgreyButtonBgColor, 5%); }
		&:active { background: darken($darkgreyButtonBgColor, 5%); }
	}

	&.black {
		background: $blackButtonBgColor;
		border: none;
		color: #fff;
		@include light;

		&:hover { background: lighten($blackButtonBgColor, 5%); }
		&:active { background: darken($blackButtonBgColor, 5%); }
	}

	&.trans {
		background: rgba(0,0,0,0);
		border: none;
		color: #8f939e;
		@include light;

		&:hover { color: lighten(#8f939e, 10%); }
		&:active { color: darken(#8f939e, 10%); }
	}

	&.rounded {
		@include border-radius(3px);
	}

	&.small-interaction{
		width: auto;
		padding: 0px 20px 0px 20px;
	}

	&.flat {
		border: none;
	}

	&.top {
		border-bottom: none;
	}

}


/*
|------------------------------------------------------------------------------------
| HEADER
|------------------------------------------------------------------------------------
*/

#main-nav {
	height: $headerHeight;
	background: $headerBgColor;
	border-bottom: 1px solid $mainBorderColor;
    padding: 0 30px;
}
#main-nav-head{
	height: 90px;
}

#logo {
	float: left;
	margin: 0 20px 0 0;
	height: $headerHeight;
    width: 33px;
    background: transparent url(../images/drop.png) no-repeat center center;
    background-size: 33px;
}

.navbar-nav {
    > li {
        > a {
            padding-top: 20px;
        }
    }
}



/*
|------------------------------------------------------------------------------------
| MAIN AREA
|------------------------------------------------------------------------------------
*/

#list-content{
	margin-top: $headerHeight;
	width: 100%;
	height: 100%;
    position: absolute;
}

#app-content {
   	top: $headerHeight;
	left: 0;
	right: 0;
    bottom: 0px;
    position: fixed;

		.col2 {

			.box-wrap { left: 340px; }
		}
	&.show-collection {

		.article-wrap {
			left: 340px;
		}

		.collection-wrap {
			left: 0;
		}
	}
}

.show-collection {
  left: 340px;
}

/*
|------------------------------------------------------------------------------------
| BOXES
|------------------------------------------------------------------------------------
*/
.box-wrap-collection{
	width:320px;
	top:0px;
	left:0px;

}
.box-wrap {
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	width: 0px;
	//overflow: auto;
	@include transition(left .3s ease);

	&.col2 { left: 320px; }
	&.col3 { left: 620px; }
	&.col4 { left: 920px; }

	> div {
		width: 280px;
	}

	.content-wrap {
		position: absolute;
		top: 45px;
        padding-bottom: 45px;
		left: 0;
		bottom: 0;
		width: 0;
		@include transition(top .2s ease);

    .field-wrap {
		width: 280px;
        margin: 0 0 5px;
	    }
    .field-wrap-no-margin {
		width: 280px;
        margin: 0 0 0px;
	     }
	}

	.content {
		border-top: 1px solid $mainBorderColor;
		background: #fff;
		max-height: 100%;
		width: 280px;
		@include box-shadow(0 1px 5px rgba(0,0,0,.06));
		overflow-x: hidden;
		overflow-y: auto;
        &:empty {border-width: 0}

        .spot-details {
            padding-top: 40px;
        }
	}

    .fixed-top {
        position: fixed;
        z-index: 2;
    }

	&.outside {
		left: -280px;
	}

    .spot-search .btn {
        top: 45px;
        display: none;
    }

	&.show-button {
		.spot-search .btn {
            display: block;
	 	}
	 }
}

#app-content .spot-search {
	margin: 20 0 5px;
	height: 50px;
	width: 280px;

	> * {
		@include box-shadow(0 1px 5px rgba(0,0,0,.06));
	}
}

.show-bigRed{
	height: 100px;
}


.spot-list {
	li {
		border-bottom: 1px solid $mainBorderColor;

		&:last-child {
			border: none;
		}

		&:hover .spot,
		.spot.active {
			border-color: $spotBorderHoverColor;
		}
	}

	.spot {
		border-left: 5px solid rgba(0,0,0,0);
		color: $spotColor;
		padding: 15px 20px;
		display: block;

		span {
			display: block;
		}

		.address {
			color: $spotAddressColor;
			font-size: 11px;
		}
	}
}

.collection-details {

	.img-wrap {
		padding: 10px;
		//height: 300px;
		position: relative;
		min-height: 225px;

		img {
			width: 100%;
			min-height: 200px;
			border: 1px solid $mainBorderColor;
		}

/*		span:not(.label) {
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			background: #f0f0f0;
			border: 1px solid $mainBorderColor;
		}
		span.label{
			color: white;
		}*/
	}
	.spot-adress{
			font-weight: 200;
			color: #262626;
			font-style: italic;
			border-top: 0
	}
	.spot-name{
		padding-top: 10px;
	}
	.expiration {
		padding-bottom: 0px;
		padding-left: 0px;

		.expiration-countdown{
			font-weight: bold;
			color: #4187DF;
			display: inline;
			padding: 0
		}
	}

	.author {
		position: relative;
		padding: 10px 20px 0;
		height: 50px;

		img {
			height: 40px;
			width: 40px;
			@include border-radius(3px);
		}

		span {
			position: absolute;
			left: 50px;
			top: 10px;
			right: 0;
			@include text-overflow;
			border: none;
			line-height: 40px;
			height: 40px;
		}
	}

	span {
		display: block;
		color: #000;
		@include light;
		padding: 1px 20px 10px;
	}

    .link {
        white-space: nowrap;
    	overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 10px;
        > a {
            color: #073E94;
            &:hover {
                color: black;
            }
        }
    }

	.line{
		border-bottom: 1px solid $mainBorderColor;
	}

	.field-container {
		border-bottom: 1px solid $mainBorderColor;
	}

	.field-wrap {
		padding: 10px 20px 0px 20px;
	}

	.info {
		position: absolute;
		left: 20px;
		top: 20px;
		right: 20px;
		bottom: 15px;
	}
}

.title {
	display: block;
	@include light;
	padding: 14px 10px 0;
	margin: 0 0 5px;

	&.red { color: $redColor; }
	&.blue {
		color: $blueColor;
		font-size: 14px;
	}
	&.black {
		color: #000;
		font-size: 12px;
		padding-top: 6px;
	}
}

.collection-relations {
	padding: 0px 10px 10px;

	ul {
		margin: 0 0 6px;

		li {
			border-bottom: 1px solid $mainBorderColor;
			padding: 14px 10px;

			&:last-child {
				border-bottom: none;
			}

			a {
				display: block;
				position: relative;
			}

			img {
				width: 42px;
				height: 42px;
				position: absolute;
			}

			span {
				@include light;
				color: #000;
				line-height: 42px;
				padding-left: 52px;
				@include text-overflow;
			}
		}
	}
}


.collection-create {
	padding: 0 10px 10px;
}


/*
|------------------------------------------------------------------------------------
| COLLECTION COLUMN TO THE LEFT
|------------------------------------------------------------------------------------
*/

.collection-map-table-wrapper {
    display: table;
}

.map-cell-wrapper {
    display: table-cell;
    width: auto;
    height: 100%;
}

.collection-cell-wrapper {
    display: table-cell;
    width: $collectionWidth;
    height: 100%;
}

.coll-edit-wrapper{
  width: $collectionWidth;
  top: 0;

  > a{
  	top: 0px;
	position: absolute;
	width: $collectionWidth;
	border-top: none;
  }

  .collection-wrap {
      top: 40px;
      overflow-y: auto;

      &.edit{
      	border-top: 1px solid $greyButtonBorderColor;
        padding-bottom: 45px;
      }
  }
}

.spot-edit-wrapper{
  width: $collectionWidth;
  top: 0;

  .collection-wrap {
      top: 95px;
      overflow-y: auto;
  }
}

.cancel_collection{
	position: absolute;
	width: $collectionWidth;
	top: 0;
	left: 0;
	.btn{
		border-top: none;
		border-bottom: 1px solid #E5E5E5;
	}
}

.visible_collection {
  width: 20px;
  height: 20px;
  background-size: 20px;
  &.published {
    background-image: url(../images/visible_true.png);
  }
  &.private {
    background-image: url(../images/visible_false.png);
  }
}

.collection-wrap {
    width: $collectionWidth;
    height: 100%;
	background: #fff;
	border-right: 1px solid $mainBorderColor;
	position: absolute;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	@include transition(left .3s ease);

	.img-wrap {
		position: relative;

		margin: 0 0 20px;
        min-height: 350px;

		> img {
			width: 100%;
      	    min-height: 350px;
		}

		.spot-edit-pic{
			min-height: 300px;
		}

		.gradient {
			height: 50%;
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			@include gradient-vertical(rgba(0,0,0,0), #000);
		}

		&:hover {
			.action-container {
				display: block;
			}
		}
	}

    .edit-coll-photo-wrap{
      min-height: 350px;

      .fileUpload{
        margin-top: 187px;
        position: relative;
	    overflow: hidden;
      }

      .fileUpload input.upload {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 40px;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
      }
    }

	.info {
		position: absolute;
		left: 20px;
		top: 20px;
		right: 20px;
		bottom: 15px;


		.author {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;

			img {
				width: 40px;
				height: 40px;
				@include border-radius(3px);
			}

			span {
				color: #fff;
				position: absolute;
				left: 50px;
				top: 0;
				right: 0;
				line-height: 40px;
				text-shadow: 0 1px 3px rgba(0,0,0,.75);
				font-size: 14px;
				@include text-overflow;
			}
		}

		.action-container {
			position: absolute;
			top: 187px;
			left: 0;
			right: 0;
			text-align: center;
			display: none;
		}

		.headline {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			h1 {
				font-size: 24px;
				line-height: 30px;
				@include light;
				color: #fff;
				margin: 0 0 10px;
			}

			.amount {
				color: #939393;
				font-size: 15px;
				@include light;
				display: block;

				strong {
					font-family: $font-family-serif;
					@include bold;
				}
			}
		}

	}
	#published{
		position: absolute;
		bottom: 0px;
		right: 0px;
		color: white;
		line-height: 15px;
		width: 100%;

		.publish_descript{
			width: 260px;
			padding-left: 20px;
			padding-bottom: 15px;
			float: left;
			text-align: left;
		}

		.btn_visible_collection{
			cursor: pointer;
			margin-right: 15px;
		}
	}
	.spot-info{
		bottom: auto;
	}

	.action-container {
		text-align: center;

		a {
			display: inline-block;
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.desc {
		color: $spotColor;
		font-family: $font-family-serif;
		font-size: 14px;
		line-height: 22px;
		padding: 10px;
	}
}


.edit-coll-photo-wrap{
      min-height: 300px;
      text-align: center;

      .fileUpload{
        position: relative;
	    overflow: hidden;

		&.small-img{
			margin-top: 100px;
		}

      	input.upload {
		    position: absolute;
		    top: 0;
		    right: 0;
		    margin: 0;
		    padding: 0;
		    font-size: 40px;
		    cursor: pointer;
		    opacity: 0;
		    filter: alpha(opacity=0);
      	}

      }

    .text-danger {
        text-align: left;
    }
}



/*
|------------------------------------------------------------------------------------
| ARTICLE BOX
|------------------------------------------------------------------------------------
*/

.article-wrap {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 0px;
	height: 100%;
	@include transition(top .3s ease, left .3s ease);

	&.outside {
		top: 100%;
	}

	.content-wrap {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 30px;
		width: 0;
	}

	.content {
		border: 1px solid $mainBorderColor;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 640px;
		overflow-x: hidden;
		overflow-y: auto;
		@include box-shadow(0 1px 5px rgba(0,0,0,.06));
		padding: 30px 30px 20px;
	}

	input,
	textarea {
		border-color: rgba(0,0,0,0);

		&:focus {
			border-color: $fieldBlueActiveColor;
		}
	}

	input {
		height: 64px;
		color: #000;
		font-size: 26px;

	}

	textarea {
		font-family: $font-family-serif;
		font-size: 18px;
		line-height: 28px;
		color: #727272;
		overflow-y: auto;
		height: 100%;
	}

	.field-wrap {
		&.desc {
			position: absolute;
			top: 104px;
			left: 30px;
			right: 30px;
			bottom: 70px;
		}
	}

	.action-wrap {
		@include clearfix;
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 640px;
		padding: 0 30px;


		.btn {
			float: right;
			padding: 0 20px;

			&:first-child {
				float: left;
			}
		}
	}
}


/*
|------------------------------------------------------------------------------------
| DASHBOARD
|------------------------------------------------------------------------------------
*/

.head-wrap {
	height: 55px;
	width: 100%;
	padding: 10px 30px 0;
	background-color: #F0F0F0;
	position: fixed;
	top: 60px;
	z-index: 1000;
}
.head-wrap-wrapper{
	height: 25px;
}

.collections-container {
	//height: 100%;
	width: 100%;
	height: 100%;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	position: absolute;
	@include clearfix;
}

.collection-navbar {
    > ul {
        > li {
            > a {
                background-color: inherit !important;
            }
        }
    }
    .open {
        a {
            color: #000000;
        }
    }
}

.collection-tabs {
	@include light;
	font-size: 16px;
	@include clearfix;
	height: 35px;
	line-height: 35px;
	margin: 0 0 10px;
	float: left;
	width: 90%;
    border-bottom: none;

    > li.active {
        > a {
            color: #000000;
            border: none;
            &:hover {
                border: none;
            }
            &:focus {
                border: none;
            }
        }
    }

	> li {
		float: left;
		margin-right: 20px;
		> a {
            border: none ;
            background: $bodyBgColor !important;
		}

		&.pull-right {
			> a {
				font-size: 13px;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&.highlights {
		width: 30%;
		margin-left: 5%;
		float: left;
	}
}

.tab-content {
	position: absolute;
	top: 75px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 20px;
	overflow-y: auto;
	@include clearfix;

	.tab-pane {
		display: none;
		@include clearfix;
		float: left;
		width: 65%;

		&.active {
			display: block;
		}
	}

	.highlights {
		width: 30%;
		margin-left: 5%;
		float: left;
	}
}

.collection-item-wrap {
	float: left;
	margin: 0 16px 16px 0;
}

.collection-item {
	width: 228px;
	height: 360px;
	border: 1px solid $mainBorderColor;
	// margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: block;

	.img-wrap {
		position: relative;
		width: 100%;
		height: 100%;

		> img {
			width: 100%;
		}

		.gradient {
			height: 50%;
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			@include gradient-vertical(rgba(0,0,0,0), #000);
		}
	}

	.info {
		position: absolute;
		left: 15px;
		top: 15px;
		right: 15px;
		bottom: 15px;


		.author {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;

			img {
				width: 40px;
				height: 40px;
				@include border-radius(3px);
			}

			span {
				color: #fff;
				position: absolute;
				left: 50px;
				top: 0;
				right: 0;
				line-height: 40px;
				text-shadow: 0 1px 3px rgba(0,0,0,.75);
				font-size: 14px;
				@include text-overflow;
			}
		}

		.headline {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			h2 {
				font-size: 20px;
				line-height: 24px;
				@include light;
				color: #fff;
				margin: 0 0 5px;
			}

			.amount {
				color: #939393;
				font-size: 14px;
				@include light;
				display: block;

				strong {
					font-family: $font-family-serif;
					@include bold;
				}
			}
		}
	}

	&.new {
		background: #252525;

		.info {
			top: 20px;
			left: 20px;
			right: 20px;
			bottom: 20px;

			.headline {
				position: static;
				display: block;
				color: #ffffff;
				font-size: 14px;
				@include light;
				height: 38px;
				line-height: 24px;
			}

			textarea {
				height: 170px;
			}

			.btn {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

.modal {
  display: block;
}

#bigmap_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right: $collectionWidth;
}

#modal_widget {
    width: 800px;

    .modal-body {
    }

    .modal-footer {
        margin-top: 0px;
    }
    #dropspot_widget {
        width: 300px;
        height: 100px;
        background-color: #b9def0;
    }

    #modal_copycode {
        padding-top: 5px;
    }

    #copy_btn {
        margin-top: 20px;
        width: 100%;
    }
    .modal-submit {
        width: 200px;
        float: right;
        background-color: #428BCA;
        color: #FFF;
        border-color: #357EBD;
        padding-left: 10px;
    }

    .modal-submit:hover {
        color: white;
    }

    #widget_code {
        resize: none;
        cursor: text;
        border-radius: 0px;

        font-size: 12px;
        height: 86px;
    }

    .copy_ok {
        visibility: visible;
    }

    .copy_no {
        visibility: hidden;
    }

    #copy_status_notification {
        float: left;
        margin-left: 160px;
        padding-top: 9px;
    }

    #copy_status_text {
        color: #468847;
    }

    #copy_status_text strong {
        font-weight: bold;
    }

    #copy_status_icon {
        color: #468847;
        padding-right: 5px;
    }

    #label_source {
        padding-top: 15px;
    }
}

.modal-dialog {
    .login-or {
        padding-top: 10px;
    }
}

#logoutModal {
  .modal-footer {
    text-align: center;
    border-top: none;
  }
}

#modal-profile{
  .profile-avatar-thumbnail-wrapper{
    width: 100%;
    float: left;
    overflow-y: scroll;
    height: 110px;
    position: relative;

    .profile-avatar-thumbnail{
      position: relative;
      margin: 5px;
      float: left;
      height: 100px;
      .avatar-img-thumb{
        width: 100px;
        height: 100px;
        float: left;

      }
      .primary-avatar-pic{
        border: 2px solid #428BCA;
      }

      .trash-me{
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: s00;
        color: #428BCA;
        &:hover{
         cursor: pointer;
         color: red;
        }
      }
    }
  }

}
// starting Bootstrap 3.0.1 is defined in via Botstrap CSS
/*.modal-lg {
    width: 820px;
}*/
