<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div class="wrap">
  <nav class="navbar navbar-fixed-top" id="main-nav" role="navigation">
      <div class="navbar-header">
        <div id="logo">
        </div>
      </div>
      <nav class="collapse navbar-collapse collection-navbar">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home.collections.all">Collections</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-hide="dropspotAuth.logged()">
          <li>
            <a ng-click="openLogin()">
              Log in
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="dropspotAuth.logged()">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">
              {{ dropspotAuth.user().username }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a ng-click="openProfile()">Profile</a></li>
              <li><a ng-click="openPasswordChange()">Change Password</a></li>
              <li><a ng-click="openLogout()">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </nav>
  <div ui-view>
</div>

  <footer></footer>
</div>
