<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div id="main-nav-head"></div>
<div class="head-wrap-wrapper" ng-show="dropspotAuth.logged()"></div>

<div class="paginated-collections" infinite-scroll="collections.nextPage(path)"
     infinite-scroll-disabled='collections.busy' infinite-scroll-immediate-check='true' infinite-scroll-distance='2'>

  <div class="collection-item-wrap">
    <div class="collection-item new">
      <div class="img-wrap">
        <form ng-submit="saveCollection()">
          <div class="info">
            <div ng-show="collection_error.non_field_errors">
              <p class="text-danger" ng-repeat="e in collection_error.non_field_errors">{{ e }}</p>
            </div>
            <span class="headline">Create new collection</span>

            <div class="field-wrap">
              <input name="name" type="text" class="dark" ng-model="editable_collection.name"
                     placeholder="Title" required>

              <p class="text-danger" ng-bind="collection_error.name"></p>
            </div>
            <div class="field-wrap">
              <textarea class="dark" ng-model="editable_collection.description" placeholder="Description"></textarea>
            </div>
            <button type="submit" class="btn red rounded flat btn-block">Create collection</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div ng-repeat="collection in collections.items">
    <div class="collection-item-wrap">

      <a ui-sref="home.collection.map.spots({collection_slug: collection.slug})" class="collection-item">
        <div class="img-wrap">
          <img ng-src="{{ collection.photo.iphone }}" alt="">
          <span class="gradient"></span>

          <div class="info">
            <div class="author">
              <img ng-src="{{ collection.created_by.primary_avatar }}" alt=""
                   ng-show="collection.created_by.primary_avatar">
              <span>{{ collection.created_by.name }}</span>
            </div>

            <div class="headline">
              <h2>{{ collection.name }}</h2>
              <span class="amount"><strong>{{ collection.spot_count }}</strong> spots
                <span class="pull-right" ng-class="(collection.published) ? 'visible_collection published' : 'visible_collection private'"></span>
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!--
<div ng-show='collection.busy'><h3>Loading Collections...</h3></div>
-->

