<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div class="head-wrap" ng-show="dropspotAuth.logged()">
      <ul class="nav-tabs tab-control collection-tabs">
        <li ui-sref-active="active">
          <a ui-sref="home.collections.my({username: dropspotAuth.user().username})">My collections</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="home.collections.subscriptions({username: dropspotAuth.user().username})">My subscriptions</a>
        </li>
        <li class="pull-right" ui-sref-active="active">
          <a data-toggle="tab" ui-sref="home.collections.all">view all</a>
        </li>
      </ul>
  </div>
<!--<section id="list-content">-->
    <ui-view/>
<!--</section>-->
