<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<section id="app-content" class="show-collection">

  <div class="collection-map-table-wrapper">
    <div class="collection-cell-wrapper">

      <div class="coll-edit-wrapper" ng-show="editable_collection">
        <a ng-click="cancelEdit()" class="btn grey top btn-block">Cancel</a>

        <div class="collection-wrap edit">
          <div ng-show="collection_error.non_field_errors">
            <p class="text-danger" ng-repeat="e in collection_error.non_field_errors">{{ e }}</p>
          </div>
          <form ng-submit="saveCollection()">
            <div class="edit-coll-photo-wrap img-wrap">
              <img ng-hide="progress" class="img-responsive" ng-src="{{ editable_collection.photo.iphone }}" alt="">
              <span class="gradient"></span>

              <div class="info">
                <div ng-hide="progress" class="btn black rounded fileUpload small-interaction">
                  upload a picture
                  <input type="file" class="upload" name="photo" ng-file-select="onCollectionFileSelect($files)"/>
                </div>
                <progressbar class="fileUpload" ng-show="progress" value="progress">
                    <span style="color:black; white-space:nowrap;"></span>
                </progressbar>
              </div>
              <div id="published" ng-switch on="editable_collection.published">
                <div class="publish_descript" ng-hide="editable_collection.published">
                  This Collection is not visible for other users
                </div>
                <div class="publish_descript" ng-show="editable_collection.published">
                  This Collection is visible for all other users
                </div>
                <span class="pull-right btn_visible_collection visible_collection" ng-class="(editable_collection.published) ? 'published' : 'private'"
                        ng-click="editable_collection.published=!editable_collection.published"></span>

                <!--<img ng-switch-when="true" class="btn_visible_collection" src="/static/images/visible_true.png"-->
                     <!--ng-click="editable_collection.published='false'">-->
              </div>
            </div>

            <p class="text-danger" ng-bind="collection_error.photo"></p>

            <div class="field-wrap edit-coll-input-wrap">
              <input ng-model="editable_collection.name" required>

              <p class="text-danger" ng-bind="collection_error.name"></p>
            </div>
            <div class="field-wrap edit-coll-input-wrap">
              <textarea ng-model="editable_collection.description"></textarea>

              <p class="text-danger" ng-bind="collection_error.description"></p>
            </div>
            <button type="submit" class="btn blue btn-block">Save</button>
            <button type="button" class="btn red btn-block" ng-click="deleteCollection()">Delete</button>
          </form>
        </div>
      </div>


      <div class="collection-wrap" ng-hide="editable_collection">
        <div class="img-wrap">
          <img ng-src="{{ collection.photo.iphone }}" alt="">
          <span class="gradient"></span>

          <div class="info">
            <div class="author">
              <img ng-src="{{ collection.created_by.primary_avatar }}" alt=""
                   ng-show="collection.created_by.primary_avatar">
              <span>{{ collection.created_by.name }}</span>
            </div>
            <div class="headline">
              <h1>{{ collection.name }}</h1>
            <span class="amount">spots:
              <strong>{{ collection.spot_count }}</strong>
              <span ng-switch on="collection.published">
                <span ng-class="(collection.published) ? 'visible_collection' : 'invisible_collection'"></span>
              </span>
            </span>
            </div>
            <div class="action-container" ng-show="can_edit_collection">
              <a ng-click="editCollection()" class="btn small-interaction black rounded">Edit</a>
            </div>
          </div>
        </div>

        <div class="action-container">
          <a href="" class="trans" ng-click="get_widget()">Create Widget</a>
        </div>

        <div class="desc">
          <span>{{ collection.description }}</span>
        </div>
      </div>
    </div>

    <div class="map-cell-wrapper">
      <div ui-view></div>
    </div>
  </div>

</section>