<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->


<div class="box-wrap">
    <!--  EditSpot View  -->
    <div class="content-wrap">
      <div class="field-wrap-no-margin">
        <a ng-click="cancel()" class="btn grey top btn-block">Cancel</a>
      </div>
        <div class="content">
            <form ng-submit="saveSpot()">
                <div class="collection-details">
                    <div ng-show="spot_error.non_field_errors">
                        <p class="text-danger" ng-repeat="e in spot_error.non_field_errors">{{ e }}</p>
                    </div>
                    <div class="edit-coll-photo-wrap img-wrap">
                        <img ng-hide="progress" class="img-responsive spot-edit-pic" ng-src="{{ spot.photo.small }}" alt="">
                        <p class="text-danger" ng-bind="spot_error.photo"></p>
                        <div class="info">
                            <div ng-hide="progress" class="btn black small-interaction rounded fileUpload small-img">
                                upload a picture
                                <input type="file" class="upload" name="photo"
                                       ng-file-select="onSpotFileSelect($files)"/>
                            </div>
                            <progressbar class="fileUpload small-img" ng-show="progress" value="progress">
                                <span style="color:black; white-space:nowrap;"></span>
                            </progressbar>
                        </div>
                    </div>

                    <div class="field-container">
                        <div class="field-wrap">
                            <textarea placeholder="Address" class="address" ng-model="spot.address" rows="2"></textarea>
                        </div>

                        <div class="field-wrap">
                            <textarea ng-model="spot.name" placeholder="Name" required></textarea>
                            <span class="count">max. <strong>140</strong> Zeichen</span>

                            <p class="text-danger" ng-bind="spot_error.name"></p>
                        </div>

                        <div class="field-wrap">
                            <span class='field-label'>Expiration Date:
                                <a class="ex-date-choice" ng-click="hasExpireDate(spot)" ng-class="{'active': spot.expiration_date}">Yes</a> / <a class="ex-date-choice"
                                ng-click="noExpireDate(spot)"
                                ng-class="{'active': spot.expiration_date == null}">No</a>
                            </span>
                            <div ng-show="spot.expiration_date != null"  pickadate=""
                                  ng-model="spot.expiration_date"
                                  min-date="minDate" max-date="maxDate"></div>
                            <p class="text-danger" ng-bind="spot_error.expiration_date"></p>
                        </div>

                        <div class="field-wrap">
                            <span class='field-label'>Links</span>

                            <input class="link-input" ng-model="addLink" type="text" placeholder="Add Link">
                            <button class="btn grey add_field" type="button" ng-click="addSpotLink()">+</button>

                            <span class="links-wrapper" ng-repeat="link in newSpotLinks | reverse">
                                <input class="link-list" ng-model="link.link" type="text" placeholder="Add Link">
                                <span class="remove-btn" ng-click="removeTempLink(link)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </span>
                            </span>
                            <span class="links-wrapper" ng-repeat="link in spotLinks">
                                <input class="link-list" ng-model="link.link" type="text" placeholder="Add Link">
                                <span class="remove-btn" ng-click="deleteLink(link)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="collection-relations">
                    <!--   Collection Content Type Designs Not Implemented    -->
                    <!--
                    <div class="field-wrap with-btn">
                        <input type="text" placeholder="Add Collection">
                        <button class="btn grey">+</button>
                    </div>
                    -->

                    <!-- To be be implemeted with user friendly UI -->
                    <!--
                    <div class="field-wrap with-btn">
                        <tags-input ng-model="collection_tags"
                            allowed-tags-pattern="^[a-zA-Z0-9\_\-]+$"
                            on-tag-added=tagChanged($tag)
                            on-tag-removed=tagChanged($tag)>
                            <auto-complete source="loadItems($query)"></auto-complete>
                        </tags-input>
                    </div>
                    -->
                    <button type="submit" class="btn blue btn-block">Save dropspot</button>
                    <button type="button" ng-click="deleteSpot()" class="btn red btn-block">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
