<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

  <form id="login" role="form" class="modal-content" ng-submit="ok(user)">
    <div class="modal-header">
      <button type="button" class="close pull-right" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Log in to Dropspot</h4>
    </div>
    <div class="modal-body">
      <div ng-show="error.non_field_errors">
        <p class="text-danger" ng-repeat="e in error.non_field_errors">{{ e }}</p>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" ng-model="user.username" required placeholder="Enter username">
        <p class="text-danger" ng-bind="error.username"></p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="user.password" required placeholder="Password">
        <p class="text-danger" ng-bind="error.password"></p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <a target="_self" title="Log in with facebook" class="btn btn-facebook" ng-click="fbLogin()" ng-show="facebookReady">
         <i class="fa fa-facebook"></i> | Connect with facebook
        </a>
        <div class="login-or">
          Or, <a ng-click="signup()">sign up</a> for a new account
        </div>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Sign In</button>
        <a class="btn btn-default" target="_self" ng-click="passwordReset()">Forgot Password</a>
      </div>
    </div>
  </form><!-- /.modal-content -->
