<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div id="logoutModal">
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Are sure you want to log out?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="ok()">Sign Out</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>