<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<gm-map id="bigmap_holder" gm-map-id="'map'" gm-bounds="bounds" gm-center="center" gm-zoom="zoom"
        gm-map-options="options.map" class="map"
        ng-class="{'collection-show': $state.is('collection-detail') || $state.is('collection-spot')}">
  <gm-markers gm-objects="spots"
              gm-id="object.slug"
              gm-position="{ lat: object.latitude, lng: object.longitude }"
              gm-marker-options="markerOptions(object)"
              gm-on-dragend="suggestAddress(object, marker); "
              gm-on-click="markerClick(object.url)">
  </gm-markers>
</gm-map>

<div class="col2">

  <div class="box-wrap"
       ng-class="{'show-button': can_create_spot && !editable_spot, 'with-back-button':  editable_spot}">
    <div class="field-wrap">
      <input type="text" placeholder="Address..." ng-autocomplete ng-model="autocomplete_result"
             details="autocomplete.detail" options="options.autocomplete" class="ng-isolate-scope">
      <button class="address-search_btn" ng-click="newEditPosition()"
              ng-show="addressPin" type="submit"
              title="Move the spot to the map center"></button>
    </div>
  </div>

  <!-- Spots view is coming here -->
  <div ui-view></div>
</div>