<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

    <div id="modal_widget" class="modal-body">
        <label for="widget_code">Look how beautiful your Widget is</label>

        <div ng-bind-html="widget_div"></div>

        <div id="modal_copycode">
            <label id="label_source" for="widget_code">Copy/Paste this Code on your site wherever you want the widget to
                appear on your page</label>
            <textarea readonly class="form-control" id="widget_code" rows="3" onclick="this.select()"
                      ng-model="widget_code"></textarea>

            <div id="copy_btn">
                <div id="copy_status_notification" ng-class="{copy_ok: copy_check, copy_no: !copy_check}">
                    <span id="copy_status_icon" class="glyphicon glyphicon-ok"></span>
                    <span id="copy_status_text"><strong>Awesome!</strong> you grabbed the Widget to your Clipboard</span>
                </div>
                <button type="submit" class="modal-submit btn" clip-copy="getTextToCopy()" clip-click="getCopyStatus()">
                    Copy to Clipboard
                </button>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Done</button>
    </div>
