<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div class="box-wrap" ng-class="show-button">
    <!--  Empty Edit Spot View after hit Create Button  -->
    <div class="content-wrap">
        <div class="field-wrap-no-margin">
            <a class="btn grey top btn-block" ng-click="cancel()">Cancel</a>
        </div>
        <div class="content">
          <div ng-show="spot_error.non_field_errors" class="title">
            <p class="text-danger" ng-repeat="e in spot_error.non_field_errors">{{ e }}</p>
          </div>
            <form ng-submit="saveNewSpot()">
                <div class="collection-details">
                    <div class="field-container">
                        <div class="field-wrap">
                            <textarea placeholder="Address" class="address"
                                      ng-model="spot.address" rows="2"></textarea>
                            <p class="text-danger" ng-bind="spot_error.address"></p>
                        </div>
                        <div class="field-wrap">
                            <textarea ng-model="spot.name" placeholder="Name" required></textarea>
                            <span class="count">max. <strong>140</strong> Zeichen</span>
                            <p class="text-danger" ng-bind="spot_error.name"></p>
                        </div>

                        <div class="field-wrap">
                            <span class='field-label'>Expiration Date:
                                <a class="ex-date-choice" ng-click="hasExpireDate(spot)" ng-class="{'active': spot.expiration_date}">Yes</a> / <a class="ex-date-choice"
                                ng-click="noExpireDate(spot)"
                                ng-class="{'active': spot.expiration_date == null}">No</a>
                            </span>
                             <input ng-if="spot.expiration_date != null" type="text" ng-model="spot.expiration_date" placeholder="no expiration" readonly>
                            <div ng-show="spot.expiration_date != null"  pickadate=""
                                  ng-model="spot.expiration_date"
                                  min-date="minDate" max-date="maxDate"></div>
                            <p class="text-danger" ng-bind="spot_error.expiration_date"></p>
                        </div>

                        <div class="field-wrap">
                            <span class='field-label'>Links</span>
                            <input class="link-input" ng-model="addLink" type="text" placeholder="Add Link">
                            <button class="btn grey add_field" type="button" ng-click="addSpotLink()">+</button>
                            <span class="links-wrapper" ng-repeat="link in newSpotLinks | reverse">
                                <input class="link-list" ng-model="link.link" type="text" placeholder="Add Link">
                                <span class="remove-btn" ng-click="removeTempLink(link)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </span>
                            </span>
                            <!--
                            <span class="links-wrapper" ng-repeat="link in spotLinks">
                                <input class="link-list" ng-model="link.link" type="text" placeholder="Add Link">
                                <span class="remove-btn" ng-click="deleteLink(link)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </span>
                            </span>
                            -->
                        </div>
                    </div>
                </div>
                <div class="collection-relations">
                    <!--   Collection Content Type Designs Not Implemented    -->
                    <!--
                    <div class="field-wrap with-btn">
                        <input type="text" placeholder="Add Collection">
                        <button class="btn grey">+</button>
                    </div>
                    -->

                    <!-- To be be implemeted with user friendly UI -->
                    <!--
                    <div class="field-wrap with-btn">
                        <tags-input ng-model="collection_tags"
                                    allowed-tags-pattern="^[a-zA-Z0-9\_\-]+$"
                                    on-tag-added=tagChanged($tag)
                                    on-tag-removed=tagChanged($tag)>
                            <auto-complete source="loadItems($query)"></auto-complete>
                        </tags-input>
                        <p class="text-danger" ng-bind="spot_error.slug"></p>
                    </div>
                    -->
                    <button type="submit" class="btn blue btn-block">Save dropspot</button>
                </div>
            </form>
        </div>
    </div>
</div>
