<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div ng-hide="doneFlag">
  <form id="reset-password" role="form" class="modal-content" ng-submit="ok(email)">
    <div class="modal-header">
      <button type="button" class="close pull-right" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Reset your password</h4>
    </div>
    <div class="modal-body">
      <div ng-show="error.non_field_errors">
        <p class="text-danger" ng-repeat="e in error.non_field_errors">{{ e }}</p>
      </div>
      <div class="form-group">
        Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" ng-model="email" required placeholder="Enter email">
        <p class="text-danger" ng-bind="error.email"></p>
      </div>
      <div class="form-group">
        Please contact us if you have any trouble resetting your password.
      </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Reset My Password</button>
    </div>
  </form><!-- /.modal-content -->
</div>
<div ng-show="doneFlag">
  <div class="modal-header">
    <button type="button" class="close pull-right" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Password Reset</h4>
  </div>
  <div class="modal-body">
    We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</div>
