<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div ng-hide="doneFlag">
  <form id="change-password" role="form" class="modal-content" ng-submit="ok(passwords)">
    <div class="modal-header">
      <button type="button" class="close pull-right" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Change Password</h4>
    </div>
    <div class="modal-body">
      <div ng-show="error.non_field_errors">
        <p class="text-danger" ng-repeat="e in error.non_field_errors">{{ e }}</p>
      </div>
      <div class="form-group">
        <label>Current Password</label>
        <input type="password" class="form-control" name="oldpassword" ng-model="passwords.oldpassword" required placeholder="Password">
        <p class="text-danger" ng-bind="error.oldpassword"></p>
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" name="newpassword" ng-model="passwords.newpassword" required placeholder="Password">
        <p class="text-danger" ng-bind="error.newpassword"></p>
      </div>
      <div class="form-group">
        <label>New Password (again)</label>
        <input type="password" class="form-control" name="newassword2" ng-model="passwords.newpassword2" required placeholder="Password">
        <p class="text-danger" ng-bind="error.newpassword"></p>
      </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </form><!-- /.modal-content -->
</div>
<div ng-show="doneFlag">
  <div class="modal-header">
    <button type="button" class="close pull-right" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Change Password</h4>
  </div>
  <div class="modal-body">
    Password successfully changed.
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</div>
