<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

  <form id="modal-profile" role="form" class="modal-content" ng-submit="ok(user)">
    <div class="modal-header">
      <button type="button" class="close pull-right" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">User Profile</h4>
    </div>
    <div class="modal-body">
      <div ng-show="error.non_field_errors">
        <p class="text-danger" ng-repeat="e in error.non_field_errors">{{ e }}</p>
      </div>
        <div class="form-group">
            <label>Upload New Avatar</label>
            <input class="form-control" type="file" ng-file-select="onAvatarFileSelect($files)">
            <p class="text-danger" ng-bind="uploaderror"></p>
        </div>
        <div class="profile-avatar-thumbnail-wrapper form-group">
            <div ng-repeat="av in avatars | orderBy:'-primary'" class="profile-avatar-thumbnail">
                <i ng-click="removeAvatar(av)" class="fa fa-trash-o fa-lg trash-me"></i>
                <img ng-click="setPrimary(av)" class="avatar-img-thumb img-thumbnail"
                     ng-src="{{av.avatar}}" ng-class="(av.primary) ? 'primary-avatar-pic' : 'avatar-pic'">
            </div>
        </div>
      <div class="form-group">
        <label>E-mail</label>
        <input type="text" class="form-control" name="email" ng-model="user.email" required placeholder="Enter email">
        <p class="text-danger" ng-bind="error.email"></p>
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name" ng-model="user.first_name" placeholder="Enter first name">
        <p class="text-danger" ng-bind="error.firstname"></p>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="last_name" ng-model="user.last_name" placeholder="Enter last name">
        <p class="text-danger" ng-bind="error.password"></p>
      </div>
    </div>
    <div class="modal-footer">
       <p class="text-success pull-left">
         {{ message }}
       </p>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </form><!-- /.modal-content -->
