<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

  <form id="login" role="form" class="modal-content" ng-submit="ok(user)">
    <div class="modal-header">
      <button type="button" class="close pull-right" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Sign up for Dropspot</h4>
    </div>
    <div class="modal-body">
      <div ng-show="error.non_field_errors">
        <p class="text-danger" ng-repeat="e in error.non_field_errors">{{ e }}</p>
      </div>
      <div class="form-group">
        Already have an account? Then please <a ng-click="login()">sign in</a>.
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" ng-model="user.username" required placeholder="Enter username">
        <p class="text-danger" ng-bind="error.username"></p>
      </div>
      <div class="form-group">
        <label>E-mail</label>
        <input type="text" class="form-control" name="email" ng-model="user.email" required
               placeholder="Enter email">
        <p class="text-danger" ng-bind="error.email"></p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="user.password" required placeholder="Password">
        <p class="text-danger" ng-bind="error.password"></p>
      </div>
      <div class="form-group">
        <label>Password (again)</label>
        <input type="password" class="form-control" name="password2" ng-model="user.password2" required placeholder="Password">
        <p class="text-danger" ng-bind="error.password"></p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </form><!-- /.modal-content -->
