<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div class="box-wrap">
  <!-- SpotList -->
  <div class="content-wrap">
    <div ng-show="can_create_spot" class="field-wrap">
      <a class="btn red btn-block" ui-sref="home.collection.map.newSpot({ collection_slug: collection.slug })">Create
        Dropspot</a>
    </div>
    <!-- Do not insert end of line and spaces between ul and li tags, otherwise 'empty' selector stops working -->
    <ul class="spot-list content"><li ng-repeat="spot in spots">
        <a ui-sref="home.collection.map.spot({ collection_slug: collection.slug, spot_slug: spot.slug })" class="spot">
          <span class="desc">{{ spot.name || "No name" }}</span>
          <span class="address">{{ spot.address }}</span>
        </a>
      </li></ul>
  </div>
</div>
