<!--
  Copyright 2014 Dropspot GmbH
  Licensed under MIT
  (https://bitbucket.org/dropspot/dashboard/src/master/LICENSE)
-->

<div class="box-wrap">
    <!--   SpotDetail View     -->
    <div class="content-wrap">
        <div ng-show="can_create_spot" class="field-wrap">
            <a class="btn red btn-block" ui-sref="home.collection.map.newSpot({ collection_slug: collection.slug })">Create
                Dropspot</a>
        </div>
        <div class="content">
            <div class="field-wrap-no-margin fixed-top">
                <a ng-click="cancel()" class="btn btn-block grey top">Back to overview</a>
            </div>
            <div class="content spot-details">
                <div class="collection-details">
                    <div class="author">
                        <img ng-src="{{ spot.created_by.primary_avatar }}" alt=""
                             ng-show="spot.created_by.primary_avatar">
                        <span class="title red">{{ spot.created_by.name }}</span>
                    </div>
                    <div ng-show="spot.photo.small" class="img-wrap">
                        <img ng-src="{{ spot.photo.small }}" alt="">
                    </div>
                    <span class="spot-name">{{ spot.name }}</span>
                    <span class="spot-adress">{{ spot.address }}</span>
                <span ng-if="spot.expiration_date">
                    <span class="expiration">
                        Expiration:
                        <span class='expiration-countdown' ng-if="expirationCountdown(spot) < 0">
                            expired
                        </span>
                        <span ng-if='expirationCountdown(spot) >= 0' class="expiration-countdown">
                            <ng-pluralize count="expirationCountdown(spot)"
                                          when="{'0': 'expires today',
                                          'one': 'in {} day',
                                          'other': 'in {} days'}">
                            </ng-pluralize>
                        </span>
                    </span>
                </span>
                <span ng-show="spot.content_links.links.length > 0">
                    Links:
                    <ul>
                        <li class="link" title="{{ link }}"
                            ng-repeat="link in spot.content_links.links track by $index">
                            <a target="_blank" href="{{ link }}">{{ link }}</a>
                        </li>
                    </ul>
                </span>
                    <span class="line"></span>
                </div>

                <div class="collection-relations">
                    <a ng-show="can_edit && spot.active"
                       ui-sref="home.collection.map.editSpot({ collection_slug: collection.slug, spot_slug: spot.slug })"
                       class="btn blue btn-block">Edit dropspot</a>
                </div>
            </div>
        </div>
    </div>
</div>